.about-page {
  margin-top: 90px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}


.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 20px;
}

.hero-image {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.hero-text h2 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: navy;
}

.hero-text h3,
.hero-text h4 {
  margin-top: 8px;
  font-weight: 600;
  opacity: 0.9;
  color: navy !important;
}


.about-section {
  margin: 3rem auto !important;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 3rem !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
}

.about-section h2 {
  font-size: 1.8rem;
  color: #FFD700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 600;
}

.about-section p {
  line-height: 1.8;
  font-size: 1rem;
  color: #000;
  text-align: justify;
}


.leaders-section1 {
  margin-top: 4rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 3rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 1200px !important;
}

.leaers-card-titile {
  color: #FFD700 !important;
  margin-bottom: 2rem;
  font-family: sans-serif;
  font-weight: 600;
}

.leaders-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.leader-card {
  width: 350px;
  height: auto;
  border-radius: 20px;
  background: rgba(0, 0, 128, 0.226) !important;
  backdrop-filter: blur(12px);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  text-align: center !important;
  padding: 1rem;
}

.leader-card:hover {
  transform: translateY(-6px);
}

.leader-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.leader-card div h3 {
  font-size: 20px;
  margin-top: 10px;
  font-family: sans-serif;
  color: navy;
  font-weight: 600;
}

.leader-card div p {
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.leader-card div .p2 {
  margin-top: -15px !important;
  font-size: 15px;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.leader-info {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
}

.leader-info h3 {
  color: #38bdf8;
  margin-bottom: 4px;
}



@media (max-width: 1300px) {
  .about-page {
    padding: 30px;
  }

  .leader-card {
    width: 100%;
  }

  .leader-card img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .leaders-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .leader-card {
    width: 100%;
  }

  .leader-card img {
    height: 200px;
  }

 

}

@media (max-width: 500px) {

  .leaders-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .leader-card {
    width: 100%;
  }

  .hero-text h2 {
    font-size: 1.8rem;
  }
}