  svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug:not(.animated) .animable {
      opacity: 0;
  }

  svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug.animated #freepik--Floor--inject-21 {
      animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
      animation-delay: 0s;
  }

  svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug.animated #freepik--Shadows--inject-21 {
      animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
      animation-delay: 0s;
  }

  svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug.animated #freepik--character-2--inject-21 {
      animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
      animation-delay: 0s;
  }

  svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug.animated #freepik--character-1--inject-21 {
      animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
      animation-delay: 0s;
  }

  svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug.animated #freepik--error-404--inject-21 {
      animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn, 3s Infinite linear shake;
      animation-delay: 0s, 1.6s;
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  @keyframes lightSpeedLeft {
      from {
          transform: translate3d(-50%, 0, 0) skewX(20deg);
          opacity: 0;
      }

      60% {
          transform: skewX(-10deg);
          opacity: 1;
      }

      80% {
          transform: skewX(2deg);
      }

      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }

  @keyframes slideUp {
      0% {
          opacity: 0;
          transform: translateY(30px);
      }

      100% {
          opacity: 1;
          transform: inherit;
      }
  }

  @keyframes zoomIn {
      0% {
          opacity: 0;
          transform: scale(0.5);
      }

      100% {
          opacity: 1;
          transform: scale(1);
      }
  }

  @keyframes shake {

      10%,
      90% {
          transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
          transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
          transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
          transform: translate3d(4px, 0, 0);
      }
  }
