body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.auth-page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(37, 99, 235, 0.85), rgba(88, 28, 135, 0.85)),
        url("/faith-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    width: 600px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    text-align: center;
}

.auth-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.auth-title {
    color: navy;
    font-size: 22px;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form div{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.auth-form div .auth-input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 15px;
    font-family: sans-serif;
}

.auth-form div .input-icon {
    width: 10%;
    background-color: none;
    font-size: 1.2rem;
}

.auth-button {
    padding: 5px;
    background: #FFD700;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    float: right;
    margin-right: 320px;
}

.auth-button::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #007BFF, #FFD700);
    transition: width 0.3s ease;
}

.auth-button:hover::after {
    width: 90%;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .auth-container {
        width: 85%;
        padding: 25px;
    }
}

@media (max-width: 480px) {
    .auth-container {
        width: 90%;
        padding: 20px;
    }
}