body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.auth-page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(37, 99, 235, 0.85), rgba(88, 28, 135, 0.85)),
        url("/faith-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    width: 600px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    text-align: center;
}

.auth-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.auth-title {
    color: navy;
    font-size: 22px;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form div{
    background-color: white;
}

.auth-form div div{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.auth-form div div .auth-input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 2px;
}

.auth-form div .input-icon {
    width: 10%;
    background-color: none;
    font-size: 1.2rem;
}

.auth-err {
    color: #dc2626;
    font-size: 13px;
    font-style: italic;
    font-family: "Nunito", sans-serif;
    margin-bottom: 1px;
}

.auth-form div .input-icon:hover {
    transform: scale(1.2);
}

.auth-button {
    padding: 5px;
    background: #FFD700;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    float: right;
    margin-right: 320px;
}

.auth-button:hover {
    transform: scale(.98);
    background: #ffd900d3;
}

.links{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.links:hover{
    text-decoration: underline;
    color: #2600ffa2;
}

@media (max-width: 768px) {
    .auth-container {
        width: 85%;
        padding: 25px;
    }
}

@media (max-width: 480px) {
    .auth-container {
        width: 90%;
        padding: 20px;
    }
}