.application-page{
    display: flex;
    justify-content: center;
}

.application-container{
    width: 90%;
    max-width: 1200px;
    box-shadow: ;
}

.application-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.application-card{
    width: 90%;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
}

.application-avatar-cont{
    display: flex;
    justify-content: center;
}

.application-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e2e8f0;
    background: #f8fafc;
}

.application-card-body{
    width: 100%;   
}

.application-body-group span{
    font-weight: 700;
    font-size: 12px;
}

.application-body-group label{
    display: flex;
    gap: 5px;
}

.application-body-group label h3{
    font-size: 12px;
    font-weight: 500;
}