.upload-page-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.div-contain{
    display: flex;
    justify-content: center;
}

.upload-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e2e8f0;
    background: #f8fafc;
}

.upload-form {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-form label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.upload-form input,
.upload-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
}

.upload-submit-btn {
  padding: 14px;
  border: none;
  background: #2f67ff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
