.dash-sidenav {
  width: 250px;
  height: 100vh;
  background: #000;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 2rem;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu .side-links{
  text-decoration: none;
  color: #fff;
}

.menu li:hover {
  background: #6b68685b;
}

.icon {
  font-size: 18px;
}

.logout {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
}

.logout:hover {
  background: #f5f5f5;
}
